# Dependencies
node_modules/

# Build output
dist/
dist-ssr/
dist-next/
dist-old/

# Logs
*.log
npm-debug.log*

# Editor / OS
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json

# Local env
.env
.env.local
*.local
